<div>
    <h2>CARRITO DE COMPRAS:</h2>
    <ul>
        {{#each existingCart}}
            {{#each this.products}}
                <h2>{{this.title}}</h2>
                <img src="{{this.thumbnail}}" alt="productImage" width="100px">
                <p>PRECIO: ${{this.price}}</p>
            {{/each}}
        {{/each}}
    </ul>
    <br><br>
    <form action="/cart/purchase" method="get">
        <input type="hidden" name="username" value="{{username}}">
        <input type="submit" value="Finalizar compra"> <br/> <br/> 
    </form>
</div>


  