<div>
    <h1>PEDIDO RECIBIDO</h1> 
    <h2>Enseguida nos pondremos en contacto contigo!</h2> 
    <h2>Muchas gracias!</h2> 
    <br/>
    <form action="/api/login" method="get">
        <input type="hidden" name="username" value="{{username}}">
        <input type="submit" value="Home">
    </form> 
</div>


