<div>
    <h1>PEDIDO RECIBIDO</h1> 
    <br/>
    <h2>Enseguida nos pondremos en contacto contigo!</h2> 
    <br/>
    <h2>Muchas gracias!</h2> 
    <br/>
    <form action="/cart" method="get">
        <input type="submit" value="Home">
    </form> 
</div>


