<div>
    <h2>CONFIG DATA</h2>
    <h3>PARAMETERS TO CONFIGURE: </h3>
    <ul>
        <li>NODE_ENV ["DEV" FOR DEVELOPMENT OR "PROD" FOR PRODUCTION]</li>
        <li>MONGO_URL_DEV</li>
        <li>MONGO_URL_PROD</li>
        <li>MONGO_SECRET</li>
        <li>MONGO_SESSION_TIME</li>
        <li>MAIL_ETHEREAL</li>
        <li>PASSWORD_ETHEREAL</li>
        <li>PORT</li>
    </ul>
</div>
