<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Login</title>
    </head>
    <body>
        <h1>Login de Usuario</h1>
        <form id="loginForm" action="/login" method="post">
            <input id="loginNameInput" type="text" placeholder="Email" name="username"> <br/> <br/>
            <input id="loginPasswordInput" type="password" placeholder="Contraseña" name="password"> <br/> <br/>
            <input type="submit" value="Iniciar sesión"> <br/> <br/> 
        </form>
        <form action="/register" method="get">
            <input type="submit" value="Ir a registro"> <br/> <br/> 
        </form>
        <br>
    </body>
</html>

