<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Registro</title>
    </head>
    <body>
        <h1>Registro de Usuario</h1>
        <form id="registerForm" action="/register" enctype= "multipart/form-data" method="post"><br><br>
            <input id="registerEmailInput" type="email" placeholder="Email" name="username"><br><br>
            <input id="registerPasswordInput" type="password" placeholder="Contraseña" name="password"><br><br>
            <input id="registerPasswordRepeatedInput" type="password" placeholder="Repita Contraseña" name="passwordRepeated"><br><br>
            <input id="registerFirstnameInput" type="text" placeholder="Nombre" name="firstname"><br><br>
            <input id="registerLastnameInput" type="text" placeholder="Apellido" name="lastname"><br><br>
            <input id="registerPhoneInput" type="tel" placeholder="Teléfono" name="phone"><br><br>
            <input id="registerCityInput" type="tel" placeholder="Ciudad" name="city"><br><br>
            <input id="registerAddressInput" type="tel" placeholder="Dirección" name="address"><br><br>
            <input id="registerPhotoInput" type="file" name="photo"><br><br>
            <input type="submit" value="Registrarse"><br><br>
        </form>
        <form action="/login" method="get">
            <input type="submit" value="Ir a login"> <br/> <br/> 
        </form>
        <br>
    </body>
    <script>
        document.getElementById("registerForm").addEventListener("submit", validateForm); 

        function validateForm(event) {
            event.preventDefault();

            const username = document.getElementById("registerEmailInput").value;
            const firstname = document.getElementById("registerFirstnameInput").value;
            const lastname = document.getElementById("registerLastnameInput").value;
            const phone = document.getElementById("registerPhoneInput").value;
            const city = document.getElementById("registerCityInput").value;
            const address = document.getElementById("registerAddressInput").value;

            const password = document.getElementById("registerPasswordInput").value;
            const repeatedPassword = document.getElementById("registerPasswordRepeatedInput").value;

            if(password !== repeatedPassword && password !== "") {
                alert("Passwords must match");

                return;
            };
            if((username.length == 0) || (firstname.length == 0) || (lastname.length == 0)|| (phone.length == 0) || (city.length == 0) || (address.length == 0)) {
                alert("There are unfilled fields");

                return;
            } else if (isNaN(phone)) {
                alert("The phone is unvalid");
                
                return;
            }; 

            this.submit();
        };
    </script>
</html>

