<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registro</title>
  </head>
  <body>
    <h1>Registro de Usuario</h1>
    <form id="registerForm" action="/register" method="post">
        <input id="registerNameInput" type="text" placeholder="Email" name="email"> <br/> <br/>
        <input id="registerPasswordInput" type="password" placeholder="Contraseña" name="password"> <br/> <br/>
        <input type="submit" value="Registrarse"> <br/> <br/> 
    </form>
    <form action="/login" method="get">
      <input type="submit" value="Ir a login"> <br/> <br/> 
    </form>
    <br>
  </body>
</html>

