<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Formulario</title>
    </head>
    <body>
        <h1>Ingrese Producto</h1>
        <form action="/products" method="post">
            <input type="text" placeholder="Nombre" name="name"> <br/> <br/>
            <input type="number" placeholder="Precio" name="price"> <br/> <br/>
            <input type="text" placeholder="Foto URL" name="thumbnail"> <br/> <br/>
            <input type="submit" value="Enviar"> <br/> <br/> 
        </form>
        <button id="productButton">Ver productos ingresados</button> 
        <script>
            const productButton = document.getElementById("productButton")
            productButton.addEventListener("click", (event) => {
                window.location = "/products"
            })
        </script>
    </body>
</html>