<h1>Listado de Productos</h1>
<table border="1px solid #000">
    <thead>
        <tr>
            <th width="150">NOMBRE</th>
            <th width="150">PRECIO</th>
            <th width="150">FOTO</th>
        </tr>
    </thead>
    <tbody id="productsPool"></tbody>     
</table>



